@import '../../styles/variables.scss';

.view {
    user-select: none;
    background: var(--center-background-color);
    padding: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        // box-shadow: inset 0 0 4px rgba(255, 255, 255, 0.577);
        background: var(--accent-color);
    }


    &::-webkit-scrollbar {
        width: 4px;
    }

}