@import '../../styles/variables.scss';

.view {
    height: 100%;
    user-select: none;
    background: var(--center-background-color);
    padding: 10px;
    display: flex;
    align-content: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: var(--accent-color);
    }

    &::-webkit-scrollbar {
        width: 4px;
    }
}