@import '../../styles/_variables.scss';


body,
html {
    background: var(--color-background-medium);
}

.notification-center {
    width: $window-width;
    display: flex;
    flex-flow: column;
    height: 100%;
}