@import '../../styles/_variables.scss';

[class^="icon-"],
[class*="icon-"] {
    display: inline-block;
    width: 100%;
}

.icon {
    background-color: var(--strip-background-color);
    // color: var();
    $size: 22px;
    width: $size;
    height: $size;
    align-self: center;
    display: inline-block;
    align-content: center;
    justify-content: center;
    border-radius: $size;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.1s ease-in-out;
    font-size: 0.8em;

    .wrapper {
        text-align: center;
        line-height: $size;

        i {
            width: 100%;
            height: 100%;
        }
    }

    &:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: var(--secondary-text-color-highlight);
    }

    &.large {
        $size: 32px;
        width: $size;
        height: $size;
        font-size: 2em;
    }

    &.accept {
        $color: #95D154;
        background-color: $color;
        color: var(--strip-background-color);

        &:hover {
            background-color: lighten(saturate($color, 40%), 10%);
        }
    }

    &.cancel {
        $color: #DF5353;
        background-color: $color;
        color: var(--strip-background-color);


        &:hover {
            background-color: lighten(saturate($color, 40%), 10%);
        }
    }

    &.close {
        background-color: var(--secondary-text-color);

        &:hover {
            background-color: var(--secondary-text-color-highlight);
        }
    }

    &.hide {
        background-color: var(--accent-color);
        color: var(--strip-background-color);

        &:hover {
            background-color: var(--accent-color-highlight);
        }
    }

    &:active {
        animation: clickShrink 100ms ease-in-out;
    }

    @keyframes clickShrink {
        0% {
            transform: scale(1);
        }

        25% {
            transform: scale(0.8);
        }

        100% {
            transform: scale(1);
        }
    }
}