.notification-card {
    position: relative;
    width: 360px;
    background: #313131;
    border-radius: 7px;
    overflow: hidden;
    transition: box-shadow 0.1s ease-in-out;
    box-shadow: 0px 0px 0px 1px #6E6E6E;
    color: white;

    &:hover {
        /* box-shadow: 0px 0px 0px 1px #6E6E6E, 0px 0px 3px 1px rgba(64, 187, 209, 0.87); */
        transition: box-shadow 0.2s ease-in-out;
        box-shadow: 0px 0px 0px 2px rgba(81, 185, 255, 0.548);
    }

    .header {
        padding: 10px;
        color: white;
    }

    .notification-card .header>* {
        vertical-align: middle;
        display: inline-block;
        line-height: 18px;
    }

    .notification-card .header .app-icon {
        height: 24px;
        width: 24px;
        background-size: contain;
        margin-right: 4px;
    }

    .notification-card .header .app-name {
        font-weight: 500;
        width: 180px;
        user-select: none;
    }

    .notification-card .time-close {
        position: absolute;
        right: 0%;
        top: 0;
        padding: 8px;
        color: #898989;
    }

    .notification-card .notification-card:hover .close {
        display: block;
    }

    .notification-card:hover .time {
        display: none;
    }

    .notification-card .time-close>* {
        display: inline-block;
        vertical-align: middle;
    }

    .notification-card .time {
        position: relative;
        top: 6px;
        padding-right: 4px;
    }

    .notification-card .close {
        display: none;
        width: 20px;
        height: 20px;
        background: url("../../../../../res/provider/ui/image/shapes/notifications-x.png") no-repeat;
        background-position: center;
        background-attachment: local;
        background-size: 50%;
        background-color: #898989;
        border-radius: 40px;
        cursor: pointer;
    }

    .notification-card .content {
        padding: 0 8px 8px 8px;
    }

    .notification-card .content .title {
        margin-bottom: 4px;
    }

    .notification-card .body .text {
        display: block;
        overflow: scroll;
        font-size: 14px;
        max-height: 200px;
        color: #c0c0c0;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 5px;
    }

    .notification-card .text p {
        margin-bottom: 10px;
    }

    .notification-card .text p:last-of-type {
        margin-bottom: 1px;
    }

    .notification-card .body .text::-webkit-scrollbar {
        width: 9px;
    }

    .notification-card .body .text::-webkit-scrollbar:hover {
        transition: width 0.6s linear;
        width: 100px;
    }

    .notification-card *:hover::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 4px rgba(172, 255, 255, 0.781);
        background: rgb(106, 136, 236);
    }

    .notification-card *:hover::-webkit-scrollbar-thumb:hover {
        border-radius: 10px;
        box-shadow: inset 0 0 4px rgba(255, 0, 0, 0.781);
        background: rgb(106, 136, 236);
    }

    .notification-card .buttons {
        display: flex;
        justify-content: space-around;
        border-top: #6E6E6E solid 1px;
    }

    .buttons .button {
        display: inline-block;
        width: 100%;
        background: #313131;
        padding: 10px 4px;
        text-align: center;
        vertical-align: middle;
        user-select: none;
        cursor: pointer;
        border-right: 1px #6E6E6E solid;
        transition: background-color 0.1s ease-in-out;
        line-height: 14px;
    }

    .buttons .button:hover {
        transition: background-color 0.2s ease-in-out;
        background-color: #404048;
    }

    .buttons .button:last-of-type {
        border-right: none;
    }

    .button span {
        text-transform: capitalize;
        text-overflow: ellipsis;
        word-wrap: none;
        font-size: 14px;
        font-weight: 600;
    }

    .button img {
        width: 16px;
        height: 16px;
        margin-right: 4px;
    }
}