* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

body {
    background: #111;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}

.single-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}